
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

.caixa-maior{
    background-color: black;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.input-cidade{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #fff;
    width: calc(100% - 100px);
}

.botao-busca{
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #7c7c7c2b;
    float: right;
}


.img-busca{
    width: 20px;

}

.caixa-media{
    margin-top: 30px;

}
.cidade{
    color: #fff;
    font-size: 28px;
    font-weight: 300;
}

.temp{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}


.caixa-menor{
    display: flex;
    align-items: center;

    margin-top: 20px;
}

.texto-previsao{
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade{
    color: #fff;
    margin-top: 20px;
}